<div class="container">
  <div class="row">
    <div class="col-md-8">
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd ng-bind="name"></dd>
        <dt>Batch</dt>
        <dd ng-bind="batchType"></dd>
        <dt>Skills</dt>
        <dd>
          <span ng-repeat="skill in skills.concat(additionalSkills)" class="badge" ng-bind="skill"></span>
          <span style="cursor: pointer;" ng-click="toggleSkillsModal()">
            <span class="glyphicon glyphicon-edit"></span>
          </span>
          <input class="form-control" ng-show="profileData.skillsInputShowing" />
        </dd>
      </dl>
    </div>
    <div class="col-md-4">.col-md-4</div>
  </div>
</div>
<div class="modal fade" id="additionalSkillsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add or remove skills</h4>
      </div>
      <div class="modal-body">
        Add or remove skills, seperated by commas.
        <div class="form-group">
          <input ng-model="additionalSkillsInput" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="submitSkills()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
