div[class^="col-md"] {
  padding: .5em;
}

#main-profile {
  font-size: 1.3em;
  text-align: center;
}

.skill-badge {
  font-size: .8em;
}

.batch-skill {
  background-color: #FF8000;
}

#profile-panel {
  max-width: 1000px;
  min-width: 50%;
  display: inline-block;
  border-color: #FF8000;
}

#modal-skills-wrapper {
  max-height: 380px;
  overflow-y: auto;
}

#new-skill-input {
  margin-top: 20px;
}

h3 {
	font-weight: bold;
}

.panel-primary>.panel-heading {
	background-color: #FF8000;
	border-color: #FF8000;
}


.panel {
    margin-bottom: 20px;
    padding: 0px;
    border: none;
    background-color: #f8f8f8;
}
