<link rel="stylesheet" href="./associate-pages/profile/profile.css"/>

<div class="container" id="main-profile">

  <div class="panel panel-primary" id="profile-panel">
    <div class="panel-heading">
      <h3 class="panel-title">{{associate.name}}'s Profile</h3>
    </div>
    <div class="panel-body">
      <dl>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <dt>
            	Internal Project
            	<span style="cursor: pointer;" ng-click="openProjectStatusModal()">
                	<span class="glyphicon glyphicon-info-sign"></span>
              	</span>
            </dt>
            <!-- change the ng-bind to project name once the db stuff is figured out -->
            <!-- opens modal to display project description on click -->
            <dd ng-bind="associate.project.projectName"></dd>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <dt>Batch</dt>
            <dd>
              <span ng-bind-template="{{associate.batch.batchType.value}} - "></span>
              <span ng-repeat="trainer in associate.batch.trainers">
                <span ng-bind="trainer.name"></span>
              </span>
            </dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <dt>	
            	Status
	            <span ng-if="isManager" style="cursor: pointer;" ng-click="openAssociateStatusModal()">
	            	<span ng-if="isManager" class="glyphicon glyphicon-edit"></span>
	            </span>
            </dt>
            <dd ng-bind-template="{{associate.associateStatus.status}}"></dd>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
          	<dt>
          		Portfolio-Status
          		<span ng-if="isManager" style="cursor: pointer;" ng-click="openPortfolioStatusModal()">
          			<span ng-if="isManager" class="glyphicon glyphicon-edit"></span>
          		</span>
          		<dd ng-bind="formatPortfolioStatus(associate.portfolioStatus)"></dd>
          	</dt>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
	            <dt>
	              Profile URL
	              <span style="cursor: pointer;" ng-click="openPortfolioUrlModal()">
	                <span class="glyphicon glyphicon-edit"></span>
	              </span>
	            </dt>
	            <dd>
	              <span>
	                <a ng-click="openPortfolioLink()" href="">Profile Link</a>
	              </span>
	            </dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <dt>
              Skills
              <span style="cursor: pointer;" ng-click="toggleSkillsModal()">
                <span class="glyphicon glyphicon-edit"></span>
              </span>
            </dt>
            <dd>
              <span ng-bind-template="{{associateHasNoSkills() ? 'None' : ''}}"></span>
              <span ng-repeat="skill in associate.batch.batchType.skills">
                <span class="badge skill-badge batch-skill" ng-bind="skill.value"></span>
              </span>
              <span ng-repeat="skill in associate.skills">
                <span class="badge skill-badge" ng-bind="skill.value"></span>
              </span>
              <input class="form-control" ng-show="profileData.skillsInputShowing" />
            </dd>
          </div>
        </div>
        <div class="row" ng-show="isManager">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <dt>
              {{(associate.lockedTo) ? 'Mapped To: ' + associate.lockedTo.name :'Not Mapped'}}
              <span style="cursor: pointer;" ng-click="toggleMappedModal()">
                <span class="glyphicon glyphicon-edit"></span>
              </span>
            </dt>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <dt>
           	 <button type="button" ng-click="showChangePassword()" class="btn btn-primary">Change Password</button>
            </dt>
          </div>
        </div>
      </dl>
    </div>
  </div>

</div>

<!-- ADDITONAL SKILLS MODAL toggleSkillsModal() -->

<div class="modal fade" id="additionalSkillsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add or remove skills</h4>
      </div>
      <div class="modal-body">
        <div scroll-to-bottom="additionalSkillsValues" id="modal-skills-wrapper">
          <ul class="list-group">
            <li ng-repeat="skill in additionalSkillsValues" class="list-group-item">
              <span ng-bind="skill.value"></span>
              <span class="pull-right">
                <button ng-click="removeSkill(skill)" class="btn btn-xs btn-danger">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </span>
            </li>
          </ul>
        </div>
        <div id="new-skill-input" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
          <input ng-keypress="onEnterAddSkill($event)" ng-model="newSkillValue" type="text" class="form-control" placeholder="Add new skill">
          <span class="input-group-btn">
             <button ng-click="addSkill()" class="btn btn-default" type="button">Add</button>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeSkillModal()">Close</button>
        <button ng-click="submitSkills()" ng-class="{ disabled: sendingRequest }" ng-bind="skillsModalButtonValue" type="button" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>

<!-- PORTFOLIO URL MODAL -->

<div class="modal fade" id="portfolioUrlModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Portfolio URL</h4>
      </div>
      <div class="modal-body">
        Please edit your portfolio url here.
        <div class="form-group">
          <input ng-model="portfolioUrlInput" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closePortfolioUrlModal()">Close</button>
        <button ng-click="submitPortfolioUrl()" ng-class="{ disabled: sendingRequest }" ng-bind="portfolioModalButtonValue" type="button" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>

<!-- PROJECT STATUS MODAL openProjectStatusModal() -->

<div class="modal fade" id="projectStatusModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{associate.project.projectName}}</h4>
      </div>
      <div class="modal-body">
        {{associate.project.projectDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeProjectStatusModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- MAP TO CLIENT MODAL toggleMappedModal() -->

<div class="modal fade" id="mappedToClientModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Mapped Status</h4>
      </div>
      <div class="modal-body">
        <label>Mapped To:</label>
        <div class="input-group">
          <select class="manager-input form-control" ng-model="associate.lockedTo" ng-options="client as client.name for client in clients">
            <option value="">-- Not Mapped --</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeMappedToClientModal()">Close</button>
        <button ng-click="updateLockedTo()" ng-class="{ disabled: sendingRequest }" ng-bind="mappedModalButtonValue" type="button" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>

<!-- ASSOCIATE STATUS MODAL openAssociateStatusModal() -->

<div class="modal fade" id="statusModal" role="dialog">
    <div class="modal-dialog" role="document">    
        <div class="modal-content">
            <form ng-submit="updateAssociateStatus()">
                <div class="modal-header">
                    <h4 class="modal-title">Update Associate Status</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="submitted" class="alert alert-success" role="alert">
                        <strong>Great!</strong> Associate status for {{associate.name}} was successfully updated.
                    </div>
                    <div ng-if="error" class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> An error occured while updating associate status. Please try again.
                    </div>
                    <div>
                        <label for="associateStatus">Associate Status:</label>
                        <select id="associateStatus" name="associateStatus" ng-model="associate.associateStatus">
                            <option ng-repeat="statusType in statusTypes" ng-value="statusType">{{statusType.status}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="submitting">Update</button>
                    <button type="button" class="btn btn-default" ng-disabled="submitting" ng-click="closeAssociateStatusModal()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- PORTFOLIO STATUS MODAL -->

<div class="modal fade" id="portfolioStatusModal" role="dialog">
    <div class="modal-dialog" role="document">    
        <div class="modal-content">
            <form ng-submit="updatePortfolioStatus()">
                <div class="modal-header">
                    <h4 class="modal-title">Update Associate Portfolio-Status</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="submitted" class="alert alert-success" role="alert">
                        <strong>Great!</strong> Associate portfolio status for {{associate.name}} was successfully updated.
                    </div>
                    <div ng-if="error" class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> An error occured while updating associate portfolio status. Please try again.
                    </div>
                    <div>
                        <label for="portfolioStatus">Portfolio Status:</label>
                        <input type="radio" name="portfolioStatusTrue" ng-model="associate.portfolioStatus" ng-value="true"/> COMPLETE
						<input type="radio" name="portfolioStatusFalse" ng-model="associate.portfolioStatus" ng-value="false"/>  INCOMPLETE
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="submitting">Update</button>
                    <button type="button" class="btn btn-default" ng-disabled="submitting" ng-click="closePortfolioStatusModal()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- CHANGE PASSWORD MODAL showChangePassword() -->

<div id="changePassword" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
      </div>
      
      <div class="modal-body">
      	<form>
      		<div class="form-group">
      			<input ng-model="newPassword" type="password" class="form-control" placeholder="New Password">
      		</div>
      		<div class="form-group">
      			<input ng-model="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
      		</div>
      		<span ng-bind="createMessage" ng-style="createMessageStyle"></span>
      		<br>
      		<button type="button" id="changePasswordBtn" ng-click="changePassword()" class="btn btn-primary" ng-bind="changePasswordButton"></button>
      	</form>
      </div>

      <div class="modal-footer">
        <div class="alert alert-success" ng-show="successMsgShow" style="text-align: left;">
		  Successfully changed password!
		</div>
		<div class="alert alert-danger" ng-bind="errorMsg" ng-show="errorMsgShow" style="text-align: left;">
		  Failed to change password.
		</div>
        <button type="button" class="btn btn-default" ng-click="closeChangePassword()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->