<div class="interviews-container">
  <div>
    <table class="table table-striped interviews-table">
      <thead>
      <tr>
        <th class="interview-th" scope="col">Associate</th>
        <th class="interview-th" scope="col">Batch</th>
        <th class="interview-th" scope="col">Client</th>
        <th class="interview-th" scope="col">Scheduled Time</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="interview in interviews" ng-click="interviewSelect(interview)">
        <td class="interview-td" ng-bind="interview.associate.name"></td>
        <td class="interview-td" ng-bind="interview.associate.batch.batchType.value"></td>
        <td class="interview-td" ng-bind="interview.client.name"></td>
        <td class="interview-td" ng-bind="dateConverter(interview.scheduled)"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="interview-side-table" ng-show="interviewSideTable">
      <div>Associate: {{ interviewSideTable.interview.associate.name }}</div>
      <div>Date: {{ dateConverter(interviewSideTable.interview.scheduled) }}</div>
      <div>Skill: {{ interviewSideTable.interview.associate.batch.batchType.value }}</div>
      <div>Client: {{ interviewSideTable.interview.client.name }}</div>
      <div class="interview-status-container">
        <div class="interview-status-label">Status: </div>
        <select ng-model="interviewSideTable.interview.status">
          <option value="Unscheduled">Unscheduled</option>
          <option value="Scheduled">Scheduled</option>
          <option value="Pending Feedback">Pending Feedback</option>
          <option value="Confirmed">Confirmed</option>
          <option value="Denied">Denied</option>
        </select><br>
      </div>
  </div>

</div>
