<div class="interviews-container">
  <table class="table table-striped interviews-table selectable-table">
    <thead>
    <tr>
      <th class="interview-th" scope="col">Associate</th>
      <th class="interview-th" scope="col">Client</th>
      <th class="interview-th" scope="col">Scheduled Time</th>
      <th class="interview-th" scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <!-- <tr ng-repeat="interview in interviews" data-toggle="modal" data-target="#interviewModal" ng-click="interviewSelect(interview)" ng-class="{selectedTableRow : interview.id === idSelectedInterview}" >-->
    <tr ng-repeat="interview in interviews" data-toggle="modal" data-target="#interviewModal" ng-click="interviewSelect(interview)">
      <td class="interview-td" ng-bind="interview.associate.name"></td>
      <td class="interview-td" ng-bind="interview.client.name"></td>
      <td class="interview-td" ng-bind="dateConverter(interview.scheduled)"></td>
      <td class="interview-td" ng-bind="interview.interviewStatus.value"></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div id="interviewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header interview-modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Interview
          <span style="cursor: pointer;" ng-click="edit=true">
            <span class="glyphicon glyphicon-edit"></span>
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="interview-side-table-row"><b>Associate</b>: {{ interviewSideTable.interview.associate.name }}</div>
        <div class="interview-side-table-row" ng-hide="edit"><b>Date</b>: {{ dateConverter(interviewSideTable.interview.scheduled) }}</div>
        <div class="interview-side-table-row flex-row" ng-show="edit">
          <b>Date</b>:
              <input type='text' class="manager-input" ng-model="selectedDate.value" id='datetimepicker1'/>
              <div ng-click="showDateTimePicker()" class="interview-input-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </div>
        </div>
        <div class="interview-side-table-row"><b>Skill</b>:[{{interviewSideTable.interview.associate.batch.batchType.value}}] <span ng-repeat="skill in interviewSideTable.interview.associate.batch.batchType.skills"> {{skill.value}},</span> <span ng-repeat="skill in interviewSideTable.interview.associate.skills"> {{skill.value}},</span></div>
        <div class="interview-side-table-row"><b>Client</b>: {{ interviewSideTable.interview.client.name }}</div>
        <div class="interview-side-table-row" ng-hide="edit">
          <b>Status</b>: {{ interviewSideTable.interview.interviewStatus.value }}
        </div>
        <div class="interview-side-table-row flex-row" class="interview-status-container" ng-show="edit">
          <div class="interview-status-label">Status: </div>
          <select class="manager-input" ng-model="interviewSideTable.interview.interviewStatus" ng-options="status as status.value for status in interviewStatuses">
            <option value=""></option>
          </select>
        </div>
        <div style="height:0.3em"></div>
        <div class="update-message" ng-show="edit && requestMade" ng-bind="updateMessage" ng-style="updateMessageStyle"></div>
        <div class="interview-side-table-row" ng-show="edit">
          <button class="btn btn-success" ng-click="updateInterview()">Update</button>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
