.ellipsis {
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.manager-advanced-view-controller {
	
	display:flex;
	justify-content:center;
}

thead {
	color: white;
}