.manager-advanced-associates-table {
  width: auto !important;
}
.manager-advanced-associates-table > thead > tr {
  background-color: #FF8000;
}

.manager-advanced-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
