<link rel="stylesheet" href="./associate-pages/Certifications/certification.css"/> 

			<button  ng-click="ApplyCert()" type="button"  class="btn btn-primary" >Schedule Certification</button>
			<button  ng-click="submitCert()" type="button" id="checkCert" class="btn btn-primary" >Submit for Approval</button>
			
<div class="modal fade" id="getCert"  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Schedule a Certification</h4>
      </div>
      <div class="modal-body">
      <label>Pick A Certification</label>
        <div class="input-group">
          <select class="form-control"  ng-model="selectedType" ng-options="x.type_of_cert for x in CERTIFICATION_TYPE">
          	<option ng-model="custom">Add Custom Certification</option>
          </select>
          <label>Add Custom Certification
          <input type="text" placeholder="Enter Custom Certification" ng-model="customText" ng-show="custom" ng-click="customCert()"/>
          </label>
        </div>
        <div class="form-group">
        	<label>Status</label>
        	<input type="text" ng-model="formkey" name="formkey" ng-init="formkey='inprogress'" readonly="readonly">
        </div>
        <div class="form-group" >
        <label>Pick a Date</label>
           <div class='input-group date' >
               <input type='text' class="form-control" ng-model="selectedDate" id='datetimepicker1'/>
               <span ng-click="showDateTimePicker()" class="input-group-addon">
                   <span class="glyphicon glyphicon-calendar"></span>
               </span>
           </div>
            <div ng-if="errorMessage" id="err">{{errorMessage}}</div>
      	</div>      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="updateCert()"  type="button" id="addCerts" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<div ng-if="successMessage" id="success">{{successMessage}}</div>
<table class="table table-striped ">
	<thead>
	<tr>
		<th>Certification</th>
		<th>Status</th>
		<th>Test Date</th>
		<th>Cancel</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="x in CERTIFICATIONS" >
		<td>{{x.cert_type}}</td>
		<td>{{x.cert_status}}</td>
		<td>{{dateConverter(x.cert_testdate)}}</td>
		<td><button class="btn btn-danger">Delete</button></td>
	</tr>
</tbody>
</table>

</body>
</html>
