 table{
	margin-top:10px;
}
th{
	background-color:#FF8000;
}

.modal-title{
	background-color:#FF8000;
	height:60px;
	text-align:center;
	padding:12px;
}
/* #err{
	color:red;
	opacity:0.8;
	margin-top:4px;
	width:200px;
	height:200px;
	text-align:center;
	border-radius:6px;
}
#success{
	color:green;
	width:200px;
	height:200px;
	text-algin:center;
	opacity:0.8;
	background-color:green;
	border-radius:6px;
} */