<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" href="./login/login.css"/>

<title>Login</title>
</head>
<body np-app="loginApp">
<div class="container login">

<div class="row" style="margin-top:7em">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    	<form role="form">
			<fieldset>
				<div id="center">
					<img src="./images/revature-logo.png" alt="Revature" id="center">
					<h2>Staging Management System</h2>
				</div>
				<hr class="colorgraph">
				<div class="form-group">
                    <input ng-model="username" type="username" class="form-control input-lg" placeholder="Username">
				</div>
				<div class="form-group">
                    <input ng-model="password" type="password" class="form-control input-lg" placeholder="Password">
				</div>
				<hr class="colorgraph">
				<div ng-bind="errorMsg" class="alert alert-danger" role="alert" ng-show="errorMsgShow">
				  Error Message will go here.
				</div>
				<div class="form-group">
                        <button ng-click="submit()" type="submit" id="loginBtn" class="btn btn-lg btn-default btn-block" >Log In</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

</div>

<script src="./login/login.js"></script>
</body>
</html>
