<div>
    <table class="table table-striped manager-advanced-associates-table selectable-table">
        <thead>
        <tr>
            <div class="table-header-buttons">
                <div>Select Status Types and Portfolio Types</div>
                <div class="manager-advanced-row">
                    <div ng-repeat="statusType in statusTypes">
                        <input type="checkbox" value="{{statusType.associateStatusId}}" 
                        ng-checked="isSelectedStatusType(statusType)" ng-click="toggleSelectedStatusTypes(statusType)"> 
                        {{statusType.status}}
                    </div>
                </div>
            </div>
            <th scope="col">Associate</th>
            <th scope="col">Status</th>
            <th scope="col">Portfolio-Status</th>
        </tr>
        </thead>
        <tbody>            
            <!-- ng repeat for the project in projects -->
            <tr ng-repeat="associate in associates | filter: associatesFilter" ui-sref="manager.advanced.status.edit({id: associate.id})">
                <td ng-bind="associate.name"></td>
                <td ng-bind="associate.associateStatus.status"></td>
                <td ng-bind="associate.portfolioStatus ? 'COMPLETE' : 'INCOMPLETE'">
                </td>
            </tr>
        </tbody>
    </table>
    <div ui-view></div>
</div>