<div>
	<!--
		Moved outside table because it was unsemantical. 
		Tables should only have tabular data. 
	-->
	<form class="form-inline">
		<div class="form-group">
			<input class="form-control" type="text" ng-model="filterStatus.searchText" />
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="filterStatus.columnName">
      			<option value="associate">Associate</option>
      			<option value="status">Status</option>
      			<option value="portfolioStatus">Portfolio-Status</option>
      		</select>
		</div>
	</form>
    <table class="table table-striped manager-advanced-associates-table selectable-table">
        <thead>
        	<tr>
            	<th scope="col">Associate</th>
            	<th scope="col">Status</th>
            	<th scope="col">Portfolio-Status</th>
        	</tr>
        </thead>
        <tbody>            
            <!-- ng repeat for the project in projects -->
            <tr ng-repeat="associate in associates | filter: associatesFilter" ui-sref="manager.advanced.status.edit({id: associate.id})">
                <td ng-bind="associate.name"></td>
                <td ng-bind="associate.associateStatus.status"></td>
                <td ng-bind="formatPortfolioStatus(associate.portfolioStatus)"></td>
            </tr>
        </tbody>
    </table>
	<div ui-view></div>
</div>