<div class = "panel-container">
	<div  class="text-center">
		<p>{{PanelLoad}}</p>
		<div>
		  <table class="table table-striped manager-advanced-associates-table selectable-table">
		    <thead>
		    <tr>
		      <th scope="col">Associate <input ng-disabled="disabled_search" ng-model="searchName" type="text" placeholder="Name"/><button ng-click="searchClick(searchName)">Search</button></th>
		      
		    </tr>
		    </thead>
		    <tbody>
		    <tr ng-show="searchShowUp" ng-repeat="associate in associates" >
		      <td ng-click="associatePanelClick(associate)" ng-bind="associate.name"></td>
		      
		    </tr>
		    </tbody>
		  </table>
		 
		 	<table  ng-show="show_panel" class="table table-striped panels-table selectable-table">
	  		<thead>
	    <tr>
	      <th class="assPanel-th" scope="col">Panel ID</th>
	      <th class="assPanel-th" scope="col">Date</th>
	      <th class="assPanel-th" scope="col">Manager</th>
	      <th class="assPanel-th" scope="col">Status</th>
	    </tr>
	  </thead>
	  <tbody>
	   <!--  <tr class="associatePanelTable" ng-repeat="x in associateInterviews" ng-click="panelClick(x)"> -->
	       <tr class="associatePanelTable" ng-repeat="p in plist">
	      <td>{{p.id}}</td>
	      <td> {{dateConverter(p.statusDate)}} </td>
	      <td>{{p.manager.name}}</td>
	      <td>{{p.status}}</td>
	    </tr>
	  </tbody>
	</table>
		 
		 
		</div>
		
		
		
		
	</div>
</div>