.manager-associates-panel-table > thead > tr {
  background-color: #FF8000;
}
#associateName {
	font-size: 20px;
	font-family: serif;
	padding-bottom: 15px;
	font-weight: bold;
}
#panel-margin{
	margin-bottom: 10px;
}
