
<div id="parent">
<br> 
  <table class="table table-striped manager-advanced-associates-table selectable-table" id="buttonsTables">
    <thead>
    <tr>
      <div class="table-header-buttons">
        <div class="text-center"></div>
        <div class="manager-advanced-row">
          <div id="searchBars">
            <input
              type="text"
              ng-model="userSearch.startDate"
              class="text-center"
              placeholder="Search: yyyy-mm-dd"
              ng-hide="filterType2.type.name != 'Start Date'"
              >
              <input
              type="text"
              ng-model="userSearch.endDate"
              class="text-center"
              placeholder="Search: yyyy-mm-dd"
              ng-hide="filterType2.type.name != 'End Date'"
              >
              <input
              type="text"
              ng-model="userSearch.batchType.value"
              class="text-center"
              placeholder="Search"
              ng-hide="filterType2.type.name != 'Batch'"
              >
              <input
              type="text"
              ng-model="userSearch.trainers.name"
              class="text-center"
              placeholder="Search"
              ng-hide="filterType2.type.name != 'Trainer'"
              >
             <select ng-model="filterType2.type" ng-options="item.name for item in filterList2.list">
             </select>
             <br> <br>
          </div>
        </div>
      </div>
      <th scope="col">Batch Type</th>
      <th scope="col">Trainer</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="batch in batches | filter: userSearch" ui-sref="manager.advanced.batches.edit({id: batch.id})" data-toggle="modal" data-target="#batchModal">
      <td ng-bind="batch.batchType.value"></td>
      <td>
        <div ng-repeat="trainer in batch.trainers">
          <div ng-bind="trainer.name"></div>
        </div>
      </td>
      <td ng-bind="batch.startDate | date: mediumDate"></td>
      <td ng-bind="batch.endDate | date: mediumDate"></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div id="batchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div ui-view></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeBatchModal()">Close</button>
      </div>
    </div>

  </div>
</div>
