.manager-advanced-associates-table {
	width: auto !important;
}

.manager-advanced-associates-table>thead>tr {
	background-color: #FF8000;
}

.manager-advanced-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}

.manager-view-selecter {
	left: 0;
	right: 0;
	height: auto;
	width: 100%;
	font-size: 12px;
	margin: 0.5 auto;
	text-align: center;
	background-color: #FF8000;
}

.manager-status-selection {
	text-align: center;
}

/*Lets all just pretend those are neato buttons and not column titles*/
.columnClickable {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge*/
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.columnClickable:hover {
	background-color: #f5a454;
}

.columnClickable:active {
	background-color: #c48343;
}

input {
	border-color: black;
	border-style: solid;
	border-width: thin;
}

select {
	border-color: black;
	border-style: solid;
	border-width: thin;
}
