<div>
<br>
  <table class="table table-striped manager-advanced-associates-table selectable-table">
    <thead>
    <tr>
      <div class="table-header-buttons">
        <div class="manager-advanced-row">
          <div id="searchBars">
            <input
              type="text"
              ng-model="userSearch.name"
              class="text-center"
              placeholder="Search"
              ng-hide="filterType.type.name != 'associate'"
              >
              <input
              type="text"
              ng-model="userSearch.batch.batchType.value"
              class="text-center"
              placeholder="Search"
              ng-hide="filterType.type.name != 'batch'"
              >
              <input
              type="text"
              ng-model="userSearch.batch.trainers.name"
              class="text-center"
              placeholder="Search"
              ng-hide="filterType.type.name != 'trainer'"
              >
             <select ng-model="filterType.type" ng-options="item.name for item in filterList.list">
             </select>
             <br> <br>
          </div>
        </div>
      </div>
      <th scope="col">Associate</th>
      <th scope="col">Batch Type</th>
      <th scope="col">Trainer</th>
      <th scope="col">Internal Project</th>
    </tr>
    </thead>
    <tbody>
    
    <tr ng-repeat="associate in associates | filter:userSearch" ui-sref="manager.associateView({id: associate.id})">
      <td ng-bind="associate.name"></td>
      <td ng-bind="associate.batch.batchType.value"></td>
      <td>
        <div ng-repeat="trainer in associate.batch.trainers">
          <div ng-bind="trainer.name"></div>
        </div>
      </td>
      <td ng-bind="associate.project.projectName"></td>
    </tr>
    </tbody>
  </table>

</div>
