<link rel="stylesheet" href="./associate-pages/profile/profile.css"/>

<div id="statusModal" class="modal fade" role="dialog">
    <div class="modal-dialog container" id="main-profile" role="document">    
        <div class="modal-content panel panel-primary" id="profile-panel">
            <form ng-submit="updateAssociateStatus()">
                <div class="modal-header panel-heading">
                    <h3 class="modal-title">Update Associate Status</h3>
                </div>
                <div class="modal-body panel-body">
                    <div ng-if="loading" class="alert alert-info">
                        Loading. Please wait...
                    </div>
                    <div ng-if="submitted" class="alert alert-success" role="alert">
                        <strong>Great!</strong> Associate status for {{associate.name}} was successfully updated.
                    </div>
                    <div ng-if="error" class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> An error occured while updating associate status. Please try again.
                    </div>
                    <div>
                    	<div>{{associate.name}}</div>
                        <label for="associateStatus">Associate Status:</label>
                        <br />
                        <select id="associateStatus" name="associateStatus" ng-model="associate.associateStatus.associateStatusId">
                            <option ng-repeat="statusType in statusTypes" ng-value="statusType.associateStatusId">{{statusType.status}}</option>
                        </select>
                    </div>
                    <div>
                        <input type="checkbox" name="portfolioStatus" id="portfolioStatus" ng-model="associate.portfolioStatus" ng-checked={{associate.portfolioStatus}} />
                        <label for="portfolioStatus">Portfolio Complete:</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="submitting">Update</button>
                    <button type="button" class="btn btn-default" ng-disabled="submitting" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>