		<div class="create-container">

		<label>Batch Type: </label> <select ng-model="batch.batchType">
			<option disabled selected value> -- Select a Batch Type -- </option>
			<option value={{post}} ng-repeat="post in posts2.data">{{post.value}}</option>
		</select> <br> <br>


		<label>Start Date: </label> <input
 uib-datepicker-popup
 ng-model=batch.startDate
 ng-model-options="{timezone: 'utc'}"><br>


<input type="text" 
class="form-control" 
datepicker-popup="{{format}}" 
ng-model="dt" 
is-open="obj.opened"
min-date="minDate" 
max-date="'2015-06-22'" 
datepicker-options="dateOptions" 
date-disabled="disabled(date, mode)" 
ng-required="true" 
close-text="Close" />


		<!-- format date: 2014-01-01T00:00:00 -->
				<label>Location: </label> <select ng-model="batch.location">
			<option disabled selected value> -- Select a Location -- </option>
			<option value={{post}} ng-repeat="post in posts.data">{{post.name}}</option>
		</select> <br> <br>
		</div>

<button class="submit" ng-click="submit()">Submit</button>
