	<div class="create-container">
<table class="table table-striped">
    <thead>
    <tr>
        <th class="create-th" scope="col">Create a Client</th>
    </tr>
    </thead>

    <tbody>
        <tr>
		<td><label>Name: </label> <input ng-model="client.name"></td> <br> <br> 
    </tr>
        <tr>
		<td><label>Password: </label> <input type="password" ng-model="client.password"></td> <br> <br>
    </tr>
        <tr>
		<td><label>Client Priority: </label>
			0 <input value="false" type ="radio" ng-model="client.priority"> 
			1 <input value="true" type ="radio" ng-model="client.priority">
		</td> <br> <br>
    </tr>
    </tbody>
</table>

	</div>








<button class="submit" ng-click="submit()">Submit</button>
 

