<table class="table table-striped">
  <thead>
    <tr>
      <th class="create-th" scope="col">
				Create a Client
			</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
				<label>Name: </label>
				<input class="manager-input" ng-model="client.name"/>
			</td>
    </tr>
    <tr>
      <td>
				<label>Client Priority: </label>
				0 <input value="false" type="radio" ng-model="client.priority"/>
				1 <input value="true" type="radio" ng-model="client.priority"/>
      </td>
    </tr>
  </tbody>
</table>

<div ng-show="requestMade" ng-bind="createMessage" ng-style="createMessageStyle"></div>
<button class="submit" ng-click="submit()">Submit</button>
