
<table class="table table-striped">
    <thead>
        <tr>
            <th class="create-th" scope="col">Create a Job</th>
        </tr>
    </thead>
    <tbody>
        <tr>
		  <td>
              <label>Associate: </label>
            <select class="manager-input" ng-model="job.associate" ng-options="associate as associate.name for associate in associates">
            <option value=""> -- Select an Associate -- </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Client: </label>
            <select class="manager-input" ng-model="job.client" ng-options="client as client.name for client in clients">
            <option value=""> -- Select a Client -- </option>
            </select>
          </td>
        </tr>
        <tr>
            <td>
              <label>Start Date: </label>
              <div class="input-group" ng-click="showDateTimePicker(1)">
                <input type='text' class="manager-input form-control" ng-model="job.startDate" id='datetimepicker1'/>
                <span class="input-group-addon" style="cursor:pointer">
    							<span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </td>
        </tr>
        <tr>
            <td>
              <label>Projected End Date: </label>
              <div class="input-group" ng-click="showDateTimePicker(2)">
                <input type='text' class="manager-input form-control" ng-model="job.projectedEndDate" id='datetimepicker2'/>
                <span class="input-group-addon" style="cursor:pointer">
    							<span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </td>
        </tr>
            <td>
              <label>End Date: </label>
              <div class="input-group" ng-click="showDateTimePicker(3)">
                <input type='text' class="manager-input form-control" ng-model="job.endDate" id='datetimepicker3'/>
                <span class="input-group-addon" style="cursor:pointer">
    							<span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </td>
        </tr>
        <tr>
            <td>
              <label>Buyout Date: </label>
              <div class="input-group" ng-click="showDateTimePicker(4)">
                <input type='text' class="manager-input form-control" ng-model="job.buyoutDate" id='datetimepicker4'/>
                <span class="input-group-addon" style="cursor:pointer">
    							<span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </td>
        </tr>
            <td>
              <label>Confirmed Date: </label>
              <div class="input-group" ng-click="showDateTimePicker(5)">
                <input type='text' class="manager-input form-control" ng-model="batch.startDate" id='datetimepicker5'/>
                <span class="input-group-addon" style="cursor:pointer">
    							<span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </td>
        </tr>
    </tbody>
</table>

<div ng-show="requestMade" ng-bind="createMessage" ng-style="createMessageStyle"></div>
<button class="submit" ng-click="submit()">Submit</button>
