
<table class="table table-striped">
    <thead>
        <tr>
            <th class="create-th" scope="col">Create a Job</th>
        </tr>
    </thead>
    <tbody>
        <tr>
		  <td>
              <label>Associate: </label>
              <select ng-model="job.associate">
                <option disabled selected value> -- Select an Associate -- </option>
                <option value={{associate}} ng-repeat="associate in associates.data">{{associate.name}}</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>
              <label>Client: </label>
              <select ng-model="job.client">
                <option disabled selected value> -- Select a Client -- </option>
                <option value={{client}} ng-repeat="client in clients.data">{{client.name}}</option>
              </select>
          </td>
        </tr>
        <tr>
            <td><label>Start Date: </label>
              <input type='text' class="manager-input" ng-model="job.startDate" id='datetimepicker1'/>
              <div ng-click="showDateTimePicker()">
              </div>
            </td>
        </tr>
        <tr>
            <td><label>Projected End Date: </label>
              <input type='text' class="manager-input" ng-model="job.projectedEndDate" id='datetimepicker2'/>
              <div ng-click="showDateTimePicker()">
             </div>
            </td>
        </tr>
            <td><label>End Date: </label>
              <input type='text' class="manager-input" ng-model="job.endDate" id='datetimepicker3'/>
              <div ng-click="showDateTimePicker()">
             </div>
            </td>
        </tr>
        <tr>
            <td><label>Buyout Date: </label>
              <input type='text' class="manager-input" ng-model="job.buyoutDate" id='datetimepicker4'/>
              <div ng-click="showDateTimePicker()">
             </div>
            </td>
        </tr>
            <td><label>Confirmed Date: </label>
              <input type='text' class="manager-input" ng-model="job.confirmedDate" id='datetimepicker5'/>
              <div ng-click="showDateTimePicker()">
             </div>
            </td>
        </tr>
    </tbody>
</table>


<button class="submit" ng-click="submit()">Submit</button>
 