
<table class="table table-striped">
    <thead>
        <tr>
            <th class="create-th" scope="col">Create a Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
		  <td><label>Name: </label> <input class="manager-input" ng-model="location.name"></td>
        </tr>
        <tr>
		  <td><label>Country: </label> <input class="manager-input" ng-model="location.country"></td>
        </tr>
        <tr>
            <td><label>State: </label> <input class="manager-input" ng-model="location.state"></td>
        </tr>
        <tr>
            <td><label>City: </label> <input class="manager-input" ng-model="location.city"></td>
        </tr>
    </tbody>
</table>

<div ng-show="requestMade" ng-bind="createMessage" ng-style="createMessageStyle"></div>
<button class="submit" ng-click="submit()">Submit</button>
 