table{
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

th {
    background-color: #FF8000;
}

tr:nth-child(even){background-color: lightgray}
