<link rel="stylesheet" href="./associate-pages/associatePanel/associatePanel.css"/>

<div class="container">
<h2 class="panelH2"> Paneling </h2>

<div class="form-group addInterview">     
	
	<hr class="colorgraph">
	<h2 class="panelH2">Panel History</h2>          
	<table class="table table-striped panels-table selectable-table">
	  <thead>
	    <tr>
	      <th class="assPanel-th" scope="col">Panel ID</th>
	      <th class="assPanel-th" scope="col">Date</th>
	      <th class="assPanel-th" scope="col">Result</th>
	    </tr>
	  </thead>
	  <tbody>
	   <!--  <tr class="associatePanelTable" ng-repeat="x in associateInterviews" ng-click="panelClick(x)"> -->
	      <tr class="associatePanelTable" ng-repeat="p in plist">
	      <td>{{p.id}}</td>
	      <td>{{ dateConverter(p.statusDate) }}</td>
	      <td>{{p.status}}</td>
	    </tr>
	  </tbody>
	</table>
</div>
