<table class="table table-striped">
    <thead>
    <tr>
        <th class="interview-th" scope="col"><input type="checkbox"
          ng-model="selectedAll" ng-click="isSelectAll()"> Select All</th>
        <th class="interview-th" scope="col">Associate</th>
        <th class="interview-th" scope="col">Checked In Time</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="checkin in checkins" class="associate">
        <td class="interview-td"><input type="checkbox"
          ng-model="checkin.selected" ng-click="checkIfAllSelected(checkin)">
         </td>

        <td class="interview-td" ng-bind="checkin.associate.name"></td>

        <td class="interview-td" ng-bind="checkin.checkinTime"
        value="{{ checkinDates | date: 'DD-MON-RR HH:MI:SSX AM' }}"></td>
      </tr>
    </tbody>
</table>
<button class="btn btn-lg btn-primary btn-block" type="submit"
        ng-click="approve()">Submit</button>
